kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: database-pv-claim
  labels:
    {{- include "discord-experiencebot.labels" . | nindent 4 }}
spec:
  storageClassName: {{ .Values.storage.class }}
  accessModes:
    - {{ .Values.storage.accessmode }}
  resources:
    requests:
      storage: {{ .Values.storage.size }}